*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #ffaf02;
}

header img{
	width: 12%;
	height: 12%;
}

.logo{
	position: absolute;
	margin: 1%;
}

header p{
	font-family: Segoe Script;
	font-size: 90px;
	margin-left: 12%;
}

body{
	width: 100%;
	height: 100%;
	background-color: #fcda91;
}

.navigation ul{
	font-family: MV Boli;
	padding-top: 1%;
	padding-right: 1%;
}

ul li{
	float: right;
	background-color: #5af4ef;
	font-size: 15px;
	display: block;
	border: 2px solid black;
	margin-left: -30px
}

ul li a{
	text-decoration: none;
	text-align: center;
	color: black;
	display: block;
	padding: 10px;
	width: 100px;
}

ul li, ul li a{
	border-radius: 70px / 30px;
}

ul li a:hover{
		background-color: #ff1e1e;
		display: block;
}

.side{
	float: left;
	width: 20%;
	border: 3px solid black;
	margin-left: 1%;
	margin-top: 6%; 
	font-family: arial;
	text-align: center;
}

.side hr{
	background-color: black;
	width: 80%;
	padding: 1px;
	margin: auto;
}

.title{
	padding: 5%;
	font-weight: bold;
	font-size: 23px;
}

.side img{
	padding-top: 2%;
	width: 50%;
	height: 50%;
}

.opt1 p, .opt2 p{
	padding: 5%;
	font-weight: bold;
}

.opt1, .opt2{
	margin-top: 6%;
}

.slide{
	width: 76%;
	height: 200px;
	margin-left: 23%;
	margin-top: 6%;
	margin-right: 1%;
	overflow: hidden;
}

.slides{
	display: flex;
}

.slide input{
	display: none;
}

.slide_img{
	transition: 1s;
}

.slide_img img{
	width: 980px;
	height: 260px;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -101%;
}

#radio3:checked ~ .first{
	margin-left: -202%;
}

.avail p{
	margin-top: 2%;
	text-align: center;
	font-size: 40px;
	font-style: italic;
	color: red;
}

.best_sell1{
	position: absolute;
	width: 200px;
	height: 230px;
	margin-left: 28%;
	margin-right: 1%;
	overflow: hidden;
	border: 2px solid black;
	text-align: center;
	background-color: white;
}

.best_sell1 p{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	margin-top: 2%;
}

.sell1{
	display: flex;
}

.best_sell1 input{
	display: none;
}

.coffee{
	transition: 1s;
}

.coffee img{
	margin-top: 2%;
	width: 200px;
	height: 200px;
}

#coffee1:checked ~ .one{
	margin-left: 0;
}

#coffee2:checked ~ .one{
	margin-left: -100%;
}

#coffee3:checked ~ .one{
	margin-left: -200%;
}

.best_sell2{
	position: absolute;
	width: 200px;
	height: 230px;
	margin-left: 53%;
	margin-right: 1%;
	overflow: hidden;
	border: 2px solid black;
	text-align: center;
	background-color: white;
}

.best_sell2 p{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	margin-top: 2%;
}

.sell2{
	display: flex;
}

.best_sell2 input{
	display: none;
}

.dessert{
	transition: 1s;
}

.dessert img{
	margin-top: 2%;
	width: 200px;
	height: 200px;
}

#dessert1:checked ~ .one{
	margin-left: 0;
}

#dessert2:checked ~ .one{
	margin-left: -100%;
}

#dessert3:checked ~ .one{
	margin-left: -200%;
}

.best_sell3{
	position: absolute;
	width: 200px;
	height: 230px;
	margin-left: 77.5%;
	overflow: hidden;
	border: 2px solid black;
	text-align: center;
	background-color: white;
}

.best_sell3 p{
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	margin-top: 2%;
}

.sell3{
	display: flex;
}

.best_sell3 input{
	display: none;
}

.beverage{
	transition: 1s;
}

.beverage img{
	margin-top: 2%;
	width: 200px;
	height: 200px;
}

#beverage1:checked ~ .one{
	margin-left: 0;
}

#beverage2:checked ~ .one{
	margin-left: -100%;
}

#beverage3:checked ~ .one{
	margin-left: -200%;
}

.manual_navigation{
	position: absolute;
	width: 500px;
	display: flex;
	margin-left: 5%;
	margin-top: 6%;
}

.manual_btn{
	border: 1px solid black;
	background-color: red;
	padding: 6px;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 7%;
}

.manual_btn:hover{
	background-color: white;
}

footer{
	margin-top: 25%;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

footer hr{
	width: 90%;
	padding: 1px;
	background-color: black;
	margin: auto;
}

footer p{
	font-size: 15px;
	margin-top: 1%;
}

footer img{
	width: 20px;
	height: 20px;
	padding-right: 5px;
}

footer a{
	text-decoration: none;
}