*{
	margin: 0;
	padding: 0;
}

/*for header,s background color*/
header{
	background-color: #ffaf02;
}

/*resizing image*/
header img{
	width: 12%;
	height: 12%;
}

/**/
.logo{
	position: absolute;
	margin: 1%;
}

/*formating header text*/
header p{
	font-family: Segoe Script;
	font-size: 90px;
	margin-left: 12%;
}

/*home image as a hyperlink*/
.home_link a{
	text-decoration: none;
}

/*formating home image*/
.home_link a img{
	float: right;
	width: 3.8%;
	height: 3.8%;
	margin-right: 3%
}

/*for the content*/
body{
	width: 100%;
	height: 100%;
	background-color: #fcda91;
}

/**/
.navigation ul{
	font-family: MV Boli;
	padding-top: 1%;
	padding-right: 1%;
}

/*designing menulist*/
ul li{
	float: right;
	background-color: #5af4ef;
	font-size: 15px;
	display: block;
	border: 2px solid black;
	margin-left: -30px
}

/**/
ul li a{
	text-decoration: none;
	text-align: center;
	color: black;
	display: block;
	padding: 10px;
	width: 100px;
}

/**/
ul li, ul li a{
	border-radius: 70px / 30px;
}

/*for navigation active status*/
ul li a:hover{
		background-color: #ff1e1e;
		display: block;
}

form{
	margin-top: 10%;
	margin-left: 30%;
}

table:not(:first-child){
	margin-top: 5%;
}

table tr td{
	font-size: 20px;
}

table tr td input{
	margin-left: 10%;
}

#email{
	height: 30px;
}

.btn{
	padding: 6px;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 10px;
	text-align: center;
}

footer hr{
	width: 90%;
	padding: 1px;
	background-color: black;
	margin: auto;
}

footer p{
	font-size: 15px;
	margin-top: 1%;
}

footer img{
	width: 20px;
	height: 20px;
	padding-right: 5px;
}

footer a{
	text-decoration: none;
}